 *{
    margin:0;
    padding:0;
}

body{
    height:300vh;
    box-sizing: border-box;
    background-color: white;
    color: blacred;
    font-size: 40px;
    text-align: center;
}
header{
    background-color: #0062f5;
}

a{
    color:white;
    text-align: center;
    text-shadow: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover{
    color: yellow;
}

.Titulo_Destaque_1{
    color:aqua;
}

.exercicio_1{
    color:yellow;
    border:black;
}